<meta name="viewport" content="width=device-width">

<table id="personnel-list">
	<tr>
		<th><%= link_to "Last Name", :sort => "last_name" %></th>
		<th><%= link_to "First Name", :sort => "first_name"%></th>
		<th><%= link_to "Location", :sort => "location" %></th>
	</tr>
		<%= @personnel %>
</table>


