
<div class="chat-window">
  <div class="chat-list">
    Chat history here
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quas doloribus nostrum, architecto beatae. Perferendis cupiditate culpa itaque error necessitatibus, similique praesentium molestiae. Dolorem, ratione! Ipsam repudiandae atque, voluptate neque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa fugit illo facere repellendus velit consequatur impedit eaque doloribus mollitia ad dicta cumque omnis aliquid, corporis atque, et ut cum maxime.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quis laboriosam velit sit. Minus veniam nostrum officiis! Ducimus nesciunt dicta deserunt ex architecto exercitationem vero nemo quas velit qui, consequatur?
  </div>
 
</div>

<div class="personnel-list">
	<% @personnel.each do |person| %>
		<div class=employee> 
		<%= person.last_name %>, <%= person.first_name %> 
		</div>
	<% end %>
</div>

<div class="chat-input clearfix">
  <input type="text" />
  <button class='submit'>Send Text</button>
</div>


