<h1>Force Protection Tracker Personnel List</h1>

<div class=test>i am a test</div>



<% @personnel.each do |person| %>
	<div class=employee> 
		<%= person.last_name %>, <%= person.first_name %> 
	</div>
<% end %>