// Place all the styles related to the Personnel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************
End of CSS reset
******************/

/******Clearfix*****/

.clearfix {
  overflow: auto;
  zoom: 1;
}

/*****Main CSS *****/

.chat-list {
  border: solid 1px;
  float: left;
  margin-left: 5%;
  margin-top: 2em;
  margin-bottom: 0px;
  width: 40%;
  height: 150px;
  box-sizing: border-box;
  overflow: auto;
  padding: 8px;
}

.chat-input {
  clear: both;
  position: absolute;
  border: solid 1px;
  margin-left: 5%;
  margin-top: 180px;
  border-top: none;
  height: 30px;
  padding: 5px 5px;
  width: 40%;
  box-sizing: border-box;
  overflow: au
}

input {
  width: 80%;
}

.submit {
  width: 15%;
}

.personnel-list {
  float: left;
  width: 40%;
  border: solid 1px;
  padding: 10px 10px;
  margin-top: 2em;
  margin-right: 5%;
  margin-left: 5%;
}