// Place all the styles related to the Personnel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*****Main CSS *****/

#personnel-list {
  width: 50%;
  border: solid .5px;
  border-radius: 5%;
  margin: 0 auto;
  margin-top: 2em;
}

@media (max-width: 1200px) {
  #personnel-list {
    width: 80%;
    font-size: 1.5em;
  }
}

@media (max-width: 600px) {
  #personnel-list {
    width: 95%;
    font-size: 1.3em;
  }
}

@media (max-width: 400px) {
  #personnel-list {
    width: 98%;
    font-size: 1.3em;
  }
}

th a {
  text-decoration: none;
  color: black;
}

table th {
  background-color: #338CDB;
  text-align: left;
  padding: 5px;
}

table td {
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: #F4F4F4
}


/*
.header{
  float: left;
  width: 33.33%;
  border-bottom: solid 1px;
  height: 25px;
  padding: 5px;
  padding-right: 0px;
  line-height: 17px;
  text-align: left;
  font-style: strong;
  background-color: #338CDB;
  box-sizing: border-box;
}

.employee-info{
  float: left;
  width: 33.33%;
  border-bottom: solid 1px;
  line-height: 17px;
  height: 25px;
  text-align: left;
  padding: 5px;
  box-sizing: border-box;
}

.employee-info:nth-child(6n + 1) {
  background-color: #F4F4F4;
}

.employee-info:nth-child(6n + 2) {
  background-color: #F4F4F4;
}

.employee-info:nth-child(6n + 3) {
  background-color: #F4F4F4;
}


*/

