// Place all the styles related to the Personnel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*****Main CSS *****/

.chat-list {
  border: solid 1px;
  float: left;
  margin-left: 5%;
  margin-top: 2em;
  margin-bottom: 0px;
  width: 40%;
  height: 150px;
  box-sizing: border-box;
  overflow: auto;
  padding: 8px;
}

.chat-input {
  clear: both;
  position: absolute;
  border: solid 1px;
  margin-left: 5%;
  margin-top: 180px;
  border-top: none;
  height: 30px;
  padding: 5px 5px;
  width: 40%;
  box-sizing: border-box;
  overflow: au
}

input {
  width: 80%;
}

.submit {
  width: 15%;
}

.personnel-list {
  float: left;
  width: 40%;
  border: solid .5px;
  border-radius: 5%;
  margin-top: 2em;
  margin-right: 5%;
  margin-left: 5%;
}
th a {
  text-decoration: none;
  color: black;
}

table {
  
}

table th {
  background-color: #338CDB;
  text-align: left;
  padding: 5px;
}

table td {
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: #F4F4F4
}


/*
.header{
  float: left;
  width: 33.33%;
  border-bottom: solid 1px;
  height: 25px;
  padding: 5px;
  padding-right: 0px;
  line-height: 17px;
  text-align: left;
  font-style: strong;
  background-color: #338CDB;
  box-sizing: border-box;
}

.employee-info{
  float: left;
  width: 33.33%;
  border-bottom: solid 1px;
  line-height: 17px;
  height: 25px;
  text-align: left;
  padding: 5px;
  box-sizing: border-box;
}

.employee-info:nth-child(6n + 1) {
  background-color: #F4F4F4;
}

.employee-info:nth-child(6n + 2) {
  background-color: #F4F4F4;
}

.employee-info:nth-child(6n + 3) {
  background-color: #F4F4F4;
}
*/