<!DOCTYPE html>
<html>
<head>
  <title>Force Protection Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <!--Adds stylesheet and script tag for datatables jquery -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar">
		FP Tracker
	</div>

<%= yield %>

</body>
</html>
